@{
    ViewData["Title"] = "Xingjian";
}
<div class="row">
    <div class="col-md-12">
        <h2>奚行简</h2>
        <ul>
            <li>大音<strong>希</strong>声</li>
            <li>大象无<strong>形</strong></li>
            <li>大道至<strong>简</strong></li>
        </ul>
        居敬行简是《论语.雍也》里的一句话，意思是意为内心严肃，办事简要。<br />
        仲弓问子桑伯子，子曰：“可也，简。”仲弓曰：“居敬而行简，以临其民，不亦可乎？居简而行简，无乃大简乎？”子曰：“雍之言然。”<br />
    </div>
</div>
