@{
    ViewData["Title"] = "Wang's Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2>Education</h2>
        <ul>
            <li>Graduated from Nanjing University in 2015.</li>
            <li>Majoring in computer software and theory.</li>
            <li>Supervised by <a herf="http://cs.nju.edu.cn/changxu/">Prof. XU Chang</a>.</li>
            <li>Best paper award in APSEC 2014.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Industry</h2>
        <ul>
            <li>Microsoft, 2015~now, focusing on streaming computation and big data processing.</li>
            <li>Experience of handling skewed data issue.</li>
            <li>Passion for clean code and clean architecture.</li>
            <li>Tough code reviewer.</li>
            <li>Engineering greatness award in 2018 Q1.</li>
        </ul>
    </div>
</div>
